*{
  box-sizing: border-box;
}
body{
  background-color: #fa6a6a;
}

.container{
  width: 1050px;
  height: 1372px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.form-container h1{
  text-align: center;
}

.form{
  border: 10px solid rgb(121, 121, 121, 0.8);
  background: #e4e4e4;
  width: 385px;
  height: auto;
  min-height: 160px;
  max-height: 420px;
}
.form *{
  display: block;
}
.form li {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
.form li * {
  display: inline-block;
  height: 40px;
}
.form .li-input label {
  width: 60px;
  border-right: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.form .li-input label i{
  color: #bdbdbd;
}
.form .li-input input {
  width:200px;
  margin: 0;
  padding: 0;
  height: 40px;
  background: #e4e4e4;
  border:none;
  box-shadow: none;
  color: #626262;
}
.form .li-checkbox{
  border: none;
}
